html{
  height: 100%;
}

body{
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}




header{
  height: fit-content;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.header-div{
  display: flex;
  align-items: center;
  padding: 20px;
  background-color:aqua;
  border: 1px solid;
  border-bottom: 0;
  margin: 0;
}

.right-header{
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  text-align: right;
}
.right-header * {
  padding: 2px;
}
h1{
  width: fit-content;
  border: 1px solid;
  padding: 5px;
  padding-right: 5%;
  text-align: left;
  background-color: white;
}

.main{
  display: flex;
  height: 100%;

}
.main-content{
  display: flex;
  flex-direction: column;
  
}
.container{
  display: flex;
  height: 100%;
}

.navbar{
  background-color: bisque;
  min-width: 15%;
  max-width: 15%;
  border: 1px solid;
  border-bottom: 0;
  margin: 0;
  padding: 5px;
  display: flex;
  align-content: center;
  float: left;
  flex-wrap: wrap;
}

nav{
  width: 100%;
}

nav ol{
  margin: 0;
  padding: 0;
}

nav li{
  list-style: none;
  margin: 0;
  padding: 0;
  height: 45px;
  background-color:darkorange;
  transition: 100ms;
  border-bottom: 1px solid #873600;
}

nav li:hover{
  padding-left: 10px;
  background-color:chocolate ;
}

nav li a{
  text-decoration: none;
  color: bisque;
  width: 100%;
  height: 100%;
  padding: 10px;
}
main{
  min-width: 48%;
  padding: 5px;
  float: left;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

aside{
  min-width: 17%;
  max-width: 17%;
  height: 100%;
  /* height: fit-content; */
  padding: 5px;
  border: 1px solid;
  border-bottom: 0;
  border-top: 0;
  background-color: bisque;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
}

.text{
  /* min-height: 10%; */
  height: fit-content;
  border: 1px solid;
  border-left: 0;
  display: flex;
  align-items: center;
  grid-area: text;
  justify-content: right;
  background-color:aquamarine;
}


.footer-div{
  display: flex;
  align-items: center;
  padding: 20px;
  background-color:aqua;
  border: 1px solid;
  margin: 0;
  
  
}
footer{
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.left-footer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: left;
}

.left-footer *{
  padding: 2px;
}